/node_modules
/public/hot
/public/storage
/public/assets/layoutLTE
/public/bootstrap3
/public/DataTables
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
