/node_modules
/public/hot
/public/storage
/public/bootstrap-icons
/public/bootstrap4
/public/DataTables
/public/toastr
/public/dynamicTable
/public/editable

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.todoInstalado